{% extends 'PLLCoreBundle:Guild:player.html.twig' %}

{% block playerbody %}
<div class="w3-section">
	{{ form_start(form) }}

	{{ form_row(form.name) }}

	<div class="form-group">
	<label>{{ 'player.label.preferences'|trans }}</label>
	{% for build in builds %}
	    <div class="w3-row w3-margin-bottom">
			<div class="w3-col build-image" style="width: 50px;" data-toggle="build-tooltip" title="{{ build.name }}">
				<img id="build_img" src="/bundles/pllcore/images/build_img/{{ build.img }}.png" class="main">
				<img id="build_imgsub" src="/bundles/pllcore/images/build_imgsub/{{ build.imgsub }}.png" class="sub">
			</div>
			<input style="width: auto;" class="w3-rest form-control" type="number" min="0" max="10" name="{{ 'pref-build-' ~ build.id }}" value="0">
	    </div>
	{% endfor %}
	</div>

    {{ form_row(form.save, { 'label': 'player.add.submit'|trans }) }}

	{{ form_end(form) }}
</div>

{% endblock %}