{% trans_default_domain 'FOSUserBundle' %}

<p>{{ 'register.helptext'|trans({}, 'messages') }}</p>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>

        <a href="{{ path('pll_core_players', {'_locale': app.request.locale}) }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          {{ 'register.backtohomepage'|trans }}
        </a>

        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
