{% extends 'PLLCoreBundle::base.html.twig' %}

{% block body %}

  <!-- Sidenav/menu -->
  <nav class="w3-sidenav w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold" id="mySidenav"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-padding-xlarge w3-hide-large w3-display-topleft w3-hover-white" style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
      <h3 class="w3-padding-64"><b>{{ app.user.username }}</b></h3>
    </div>
{% set route_params = app.request.attributes.get('_route_params') %}
{% set route_params = route_params|merge(app.request.query.all) %}
{% if app.request.locale == 'en' %}
{% set route_params = route_params|merge({'_locale': 'fr'}) %}
    <a href="{{ path(app.request.attributes.get('_route'), route_params) }}"><img src="{{ asset('bundles/pllcore/images/lang/fr.png') }}" /></a>
{% else %}
{% set route_params = route_params|merge({'_locale': 'en'}) %}
    <a href="{{ path(app.request.attributes.get('_route'), route_params) }}"><img src="{{ asset('bundles/pllcore/images/lang/en.png') }}" /></a>
{% endif %}
    <a href="{{ path('pll_core_home') }}" onclick="w3_close()" class="w3-padding w3-hover-white">{{ 'menu.Home'|trans }}</a> 
    <a href="{{ path('pll_core_team_home') }}" onclick="w3_close()" class="w3-padding w3-hover-white">{{ 'menu.Team'|trans }}</a> 
    <a href="{{ path('pll_core_events') }}" onclick="w3_close()" class="w3-padding w3-hover-white">{{ 'menu.Events'|trans }}</a> 
    <a href="{{ path('pll_core_players') }}" onclick="w3_close()" class="w3-padding w3-hover-white">{{ 'menu.Players'|trans }}</a> 
    <a href="{{ path('pll_core_compositions')  }}" onclick="w3_close()" class="w3-padding w3-hover-white">{{ 'menu.Compositions'|trans }}</a> 
    <a href="{{ path('pll_core_builds') }}" onclick="w3_close()" class="w3-padding w3-hover-white">{{ 'menu.Builds'|trans }}</a>
    <a href="{{ path('fos_user_security_logout') }}" onclick="w3_close()" class="w3-padding w3-hover-white">{{ 'menu.Logout'|trans }}</a>
  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a style="font-size: 14px;" href="javascript:void(0)" class="w3-btn w3-red w3-border w3-border-white w3-margin-right" onclick="w3_open()">☰</a>
    <span style="font-size: 14px;">{{ app.user.username }}</span>
  </header>

  <!-- Overlay effect when opening sidenav on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="w3-container" style="margin-top: 80px">
{% block guildbody %}
{% endblock %}
    </div>
  </div>

{% endblock %}