<!DOCTYPE html>
<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7' lang='{{locale}}'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8' lang='{{locale}}'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9' lang='{{locale}}'> <![endif]-->
<!--[if gt IE 8]><!--> <html {{ sonata_seo_html_attributes() }}> <!--<![endif]-->
    <head {{ sonata_seo_head_attributes() }}>
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
        <meta property="og:image" content="http://pierrelouislegrand.fr/img/icon_256.png" />
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-indigo.css">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

        <link rel="stylesheet" href="{{ asset("bundles/foscomment/css/comments.css") }}" type="text/css" />
        <link rel='stylesheet' type='text/css' href='{{ asset("css/main.css") }}'>
    </head>

    <body class="w3-theme">

{{ render(controller("PLLCoreBundle:Default:menu", { 'locale': app.request.locale })) }}

        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

        <div class="w3-main" style="margin-left:250px;">
            <div id="myTop" class="w3-top w3-container w3-padding-16 w3-theme w3-large">
                <i class="fa fa-bars w3-opennav w3-hide-large w3-xlarge w3-margin-left w3-margin-right" onclick="w3_open()"></i>
                <span id="myIntro" class="w3-hide">{% block toptitle %}{% endblock %}</span>
            </div>

			<header class="header w3-container w3-theme w3-padding-32">
			    <div class="header-middle">
			        <img class="img-circle" src="{{ asset('bundles/pllcore/images/background/white.png') }}" alt="Pierre-Louis Legrand" />
			        <img class="img-circle me" src="{{ asset('bundles/pllcore/images/cv/photo.jpg') }}" alt="Pierre-Louis Legrand" />
			        <div class="title">
			            <p class="infos">
			                <span class="name">{{ 'header.title'|trans }}</span><br />
			                <span class="caption"><em>{{ 'header.subtitle'|trans }}</em></span>
			            </p>
			            <a class="home" href="{{ path('pll_core_home', {'_locale': app.request.locale}) }}"><img src="{{ asset('bundles/pllcore/images/home.png') }}" alt="{{ 'header.links.home'|trans }}" /></a>
{% set route_params = app.request.attributes.get('_route_params') %}
{% set route_params = route_params|merge(app.request.query.all) %}
{% if app.request.locale == 'en' %}
{% set route_params = route_params|merge({'_locale': 'fr'}) %}
			            <a class="flag" href="{{ path(app.request.attributes.get('_route'), route_params) }}"><img src="{{ asset('bundles/pllcore/images/lang/fr.png') }}" alt="{{ 'header.links.flag.fr'|trans }}"/></a>
{% else %}
{% set route_params = route_params|merge({'_locale': 'en'}) %}
			            <a class="flag" href="{{ path(app.request.attributes.get('_route'), route_params) }}"><img src="{{ asset('bundles/pllcore/images/lang/en.png') }}" alt="{{ 'header.links.flag.en'|trans }}"/></a>
{% endif %}
			        </div>
			    </div>
			</header>

{% block body %}
{% endblock %}

			<footer class="w3-container w3-theme w3-padding-32" style="padding-left:32px">
				<p>www.pierrelouislegrand.fr © 2015 - {{ "now"|date("Y") }} All Rights Reserved</p>
			</footer>
                 
        </div>
        
        <script src="{{ asset("js/main.min.js") }}" type="text/javascript" charset="utf-8"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-79192252-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
