{% extends 'PLLCoreBundle::base.html.twig' %}

{% block body %}

  <div class="w3-top">
    <ul class="w3-navbar w3-white w3-card-2" id="myNavbar">
      <li>
        <a href="#home" class="w3-wide">RAID TEAM GENERATOR</a>
      </li>

      <li class="w3-right w3-hide-small">
        <a href="#about">{{ 'landing.about'|trans }}</a>
        <a href="#backoffice"><i class="fa fa-th"></i> {{ 'landing.backoffice'|trans }}</a>
        <a href="#you"><i class="fa fa-user"></i> {{ 'landing.you'|trans }}</a>
        <a href="#contact"><i class="fa fa-envelope"></i> {{ 'landing.contact'|trans }}</a>
      </li>

      <li>
        <a href="javascript:void(0)" class="w3-right w3-hide-large w3-hide-medium" onclick="w3_landing_open()">
          <i class="fa fa-bars w3-padding-right w3-padding-left"></i>
        </a>
      </li>
    </ul>
  </div>

  <nav class="w3-sidenav w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidenav">
    <a href="javascript:void(0)" onclick="w3_landing_close()" class="w3-large w3-padding-16">{{ 'landing.close'|trans }} ×</a>
    <a href="#about" onclick="w3_landing_close()">{{ 'landing.about'|trans }}</a>
    <a href="#backoffice" onclick="w3_landing_close()">{{ 'landing.backoffice'|trans }}</a>
    <a href="#you" onclick="w3_landing_close()">{{ 'landing.you'|trans }}</a>
    <a href="#contact" onclick="w3_landing_close()">{{ 'landing.contact'|trans }}</a>
  </nav>

  <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left w3-padding-xxlarge w3-text-white">
      <span class="w3-jumbo w3-hide-small">{{ 'landing.title.big'|trans }}</span><br>
      <span class="w3-xxlarge w3-hide-large w3-hide-medium">{{ 'landing.title.big'|trans }}</span><br>
      <span class="w3-large">{{ 'landing.title.small'|trans }}</span>
      <p><a href="{{ path('fos_user_registration_register') }}" class="w3-btn w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">{{ 'landing.link.register'|trans }}</a></p>
      <p><a href="{{ path('fos_user_security_login') }}" class="w3-btn w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">{{ 'landing.link.login'|trans }}</a></p>
    </div> 
    <div class="w3-display-bottomleft w3-padding-xxlarge w3-text-grey w3-large">
{% set route_params = app.request.attributes.get('_route_params') %}
{% set route_params = route_params|merge(app.request.query.all) %}
{% set route_params = route_params|merge({'_locale': 'fr'}) %}
      <a class="w3-hover-opacity" href="{{ path(app.request.attributes.get('_route'), route_params) }}" class="w3-hover-text-white"><img src="{{ asset('bundles/pllcore/images/lang/fr.png') }}" ></a>
{% set route_params = route_params|merge({'_locale': 'en'}) %}
      <a class="w3-hover-opacity" href="{{ path(app.request.attributes.get('_route'), route_params) }}" class="w3-hover-text-white"><img src="{{ asset('bundles/pllcore/images/lang/en.png') }}" ></a>

    </div>
  </header>

  <div class="w3-container w3-padding-128" id="about">
    <h3 class="w3-center">{{ 'landing.about.title'|trans }}</h3>
    <p class="w3-center w3-large">{{ 'landing.about.subtitle'|trans }}</p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
      <div class="w3-quarter">
        <i class="fa fa-cogs w3-margin-bottom w3-jumbo w3-center"></i>
        <p class="w3-large">{{ 'landing.about.easy.title'|trans }}</p>
        <p>{{ 'landing.about.easy.desc'|trans }}</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-id-card-o w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">{{ 'landing.about.infos.title'|trans }}</p>
        <p>{{ 'landing.about.infos.desc'|trans }}</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-users w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">{{ 'landing.about.users.title'|trans }}</p>
        <p>{{ 'landing.about.users.desc'|trans }}</p>
      </div>
      <div class="w3-quarter">
        <i class="fa fa-desktop w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">{{ 'landing.about.desktop.title'|trans }}</p>
        <p>{{ 'landing.about.desktop.desc'|trans }}</p>
      </div>
    </div>
  </div>

  <div class="w3-container w3-light-grey w3-padding-64">
    <div class="w3-row-padding">
      <div class="w3-col m6">
        <h3>{{ 'landing.blink.title'|trans }}</h3>
        <p>{{ 'landing.blink.lone'|trans }}<br>{{ 'landing.blink.ltwo'|trans }}</p>
        <p><a href="{{ path('fos_user_registration_register') }}" class="w3-btn"><i class="fa fa-th"></i> {{ 'landing.blink.button'|trans }}</a></p>
      </div>
      <div class="w3-col m6">
        <img class="w3-image w3-round-large" src="/img/teams.png" alt="Teams" width="700" height="394">
      </div>
    </div>
  </div>

  <div class="w3-container w3-padding-128" id="backoffice">
    <h3 class="w3-center">{{ 'landing.backoffice.title'|trans }}</h3>
    <p class="w3-center w3-large">{{ 'landing.backoffice.subtitle'|trans }}</p>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card-2">
          <img src="/img/bbuilds.jpg" alt="John" style="width:100%">
          <div class="w3-container">
            <h3>{{ 'landing.backoffice.builds.title'|trans }}</h3>
            <p class="w3-opacity">{{ 'landing.backoffice.builds.desc'|trans }}</p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card-2">
          <img src="/img/bplayers.jpg" alt="Jane" style="width:100%">
          <div class="w3-container">
            <h3>{{ 'landing.backoffice.players.title'|trans }}</h3>
            <p class="w3-opacity">{{ 'landing.backoffice.players.desc'|trans }}</p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card-2">
          <img src="/img/bcompositions.jpg" alt="Mike" style="width:100%">
          <div class="w3-container">
            <h3>{{ 'landing.backoffice.compositions.title'|trans }}</h3>
            <p class="w3-opacity">{{ 'landing.backoffice.compositions.desc'|trans }}</p>
          </div>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-card-2">
          <img src="/img/bevents.jpg" alt="Dan" style="width:100%">
          <div class="w3-container">
            <h3>{{ 'landing.backoffice.events.title'|trans }}</h3>
            <p class="w3-opacity">{{ 'landing.backoffice.events.desc'|trans }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
    <div class="w3-quarter">
      <span class="w3-xxlarge">{{ count_guilds }}+</span>
      <br>{{ 'landing.insights.guilds'|trans }}
    </div>
    <div class="w3-quarter">
      <span class="w3-xxlarge">{{ count_players }}+</span>
      <br>{{ 'landing.insights.players'|trans }}
    </div>
    <div class="w3-quarter">
      <span class="w3-xxlarge">{{ count_compositions }}+</span>
      <br>{{ 'landing.insights.compositions'|trans }}
    </div>
    <div class="w3-quarter">
      <span class="w3-xxlarge">0+</span>
      <br>{{ 'landing.insights.downloads'|trans }}
    </div>
  </div>

  <div class="w3-container w3-padding-128" id="you">
    <h3 class="w3-center">{{ 'landing.share.title'|trans }}</h3>
    <p style="margin-bottom: 64px;" class="w3-center w3-large">{{ 'landing.share.subtitle'|trans }}</p>

    <div class="w3-row-padding">
      <div class="w3-col m6">
        <h3>{{ 'landing.share.links'|trans }}</h3>
        <p><a target="_blank" href="#">{{ 'landing.share.reddit'|trans }}</a></p>
        <p><a target="_blank" href="#">{{ 'landing.share.forum.en'|trans }}</a></p>
        <p><a target="_blank" href="#">{{ 'landing.share.forum.fr'|trans }}</a></p>
      </div>
      <div class="w3-col m6">
        <p class="w3-wide"><i class="fa fa-github w3-margin-right"></i>{{ 'landing.share.sources'|trans }}</p>
        <div class="w3-progress-container w3-grey">
          <div class="w3-progressbar w3-dark-grey"></div>
        </div>
        <p class="w3-wide"><a target="_blank" href="https://github.com/Kishlin/RaidTeamGenerator"><i class="fa fa-globe w3-margin-right"></i>{{ 'landing.share.github.web'|trans }}</a></p>
        <div class="w3-progress-container w3-grey">
          <div class="w3-progressbar w3-dark-grey"></div>
        </div>
        <p class="w3-wide"><a target="_blank" href="#"><i class="fa fa-desktop w3-margin-right"></i>{{ 'landing.share.github.software'|trans }}</a></p>
        <div class="w3-progress-container w3-grey">
          <div class="w3-progressbar w3-dark-grey"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-container w3-padding-128 w3-light-grey" id="contact">
    <h3 class="w3-center">{{ 'landing.contact.title'|trans }}</h3>
    <p class="w3-center w3-large">{{ 'landing.contact.subtitle'|trans }}</p>
    <div class="w3-row-padding" style="margin-top:64px">
      <div class="w3-half">
        <p><i class="fa fa-gamepad fa-fw w3-xxlarge w3-margin-right"></i> Kishlin.6271</p>
        <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> hello@pierrelouislegrand.fr</p>
        <br>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-64">
    <a href="#home" class="w3-btn w3-padding w3-light-grey w3-hover-grey"><i class="fa fa-arrow-up w3-margin-right"></i>{{ 'landing.totop'|trans }}</a>
    <p><a href="http://pierrelouislegrand.fr" title="Pierre-Louis Legrand" target="_blank" class="w3-hover-text-green">pierrelouislegrand.fr</a></p>
  </footer>    
{% endblock %}
