{% extends 'PLLCoreBundle:Guild:team.html.twig' %}

{% block teambody %}

{% if error %}
<div class="w3-panel w3-section w3-padding w3-red">{{ error|trans }}</div>
{% endif %}

<h2>{{ 'team.title.form.events'|trans }}</h2>
<div class="w3-section">
	{{ form(formevents) }}
</div>

<h2>{{ 'team.title.form.playerscompositions'|trans }}</h2>
<div class="w3-section">
	{{ form(formplayerscompositions) }}
</div>
{% endblock %}